* {
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 0.7em;
}

label {
    margin-left: 0.5em;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table {
    border-spacing: 0;
}

hr {
    height: 10px;
    background-color: black;
    border: none;
}

h1, h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

#categories li {
    border-right: 1px solid black;
    border-top: 1px solid black;
    background-color: lightgrey;
    display: inline-block;
    padding: 16px;
}

#categories .active {
    color: white;
    background-color: black;
}

#sidebar {
    vertical-align: top;
    background-color: black;
    width: 9em;
    box-shadow: -2000px 2000px 0px 2000px #000
}

#sidebar ul {
    padding-left: 0;
}

#sidebar li {
    color: white;
    padding: 10px;
}

#sidebar .active {
    color: black;
    background-color: white;
}

#page {
    vertical-align: top;
    padding-left: 20px;
}

#infoTable td, #infoTable th {
    border: 1px solid black;
    padding: 5px;
}

.errorText {
    color: red;
}

.account {
    margin: 20px;
    padding: 10px;
    border: 1px solid grey;
    background-color: lightgrey;
}


/* Contact Details */

.contact_details {
    border: 1px solid rgb(128, 128, 128);
    background-color: rgb(211, 211, 211);
    margin: 20px;
    padding: 10px;
    border: 1px solid grey;
}