* {
    padding: 0;
    margin: 0;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table {
    border-spacing: 0;
}

hr {
    height: 10px;
    background-color: black;
    border: none;
}

h1, h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

#categories li {
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: lightgrey;
    display: inline-block;
    padding: 16px;
}

#categories .active {
    color: white;
    background-color: black;
}

#sidebar {
    vertical-align: top;
    background-color: black;
    width: 9em;
    box-shadow: -2000px 2000px 0px 2000px #000
}

#sidebar ul {
    padding-left: 0;
}

#sidebar li {
    color: white;
    padding: 10px;
}

#sidebar .active {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: black;
    background-color: white;
}

#page {
    vertical-align: top;
    padding-left: 20px;
}

.errorText {
    color: red;
}

.account {
    margin: 20px;
    padding: 10px;
    border: 1px solid grey;
    background-color: lightgrey;
}